* {
    box-sizing: border-box;
}

body {
    background-image: url('railway-Track.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hdt {
    /* background-color: rgba(252, 252, 252, 0.164); */
    background-color: #ffffcc;
    padding: 2px; /* Further reduced padding */
    border-radius: 10px;
    max-width: 70%; /* Can adjust this if needed */
    margin: 0 auto;
    text-align: center;
    height: 120px; /* Reduced height for a smaller box */
}

.hd {
    color: #cc0066;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px; /* Reduced font size for a more compact look */
    border-radius: 10px;
}

.logo {
    width: 120px; /* Reduced width */
    height: auto; /* Maintain aspect ratio */
}

.main{
    border:1px black solid;
    background-color: #ffffcc;
    /* background-color: rgba(252, 252, 252, 0.164);
    background-color: #ffffcc6f; */
    border-radius: 10px;
    text-align: center;
    margin-left:40%;
    margin-right: 33.3%;
    padding:10px;
    margin-bottom: 10px;
    color:red;
    width:300px;
}
.menu{
    border:1px black solid;
    border-radius: 10px;
    background-color: white;
    color:green;
    font-weight: bold;
    font-size:14px;
    text-align: center;
    display:inline-block;
    margin:auto;
    padding:5px;
    margin-top:6px;
}


.tab{
    border:1px black solid;
    border-radius: 15px;
    background-color: #FFE5CC;
    margin: 30%;
    width:600px;
    color:black;
    font-weight: bold;
    font-style:normal;
    text-align:center;
    font-size: 15px;
    margin-bottom:10px;
    padding:10px;
    margin-top:10px;
    height: 500px;
}

.brown{
    color:brown;
}



.tab img{
    height: 300px;
    width: 200px;
    /* border-radius: 20px;
    border: 2px solid black; */
}

.credd{
    border:1px black solid;
    border-radius: 15px;
    background-color: #FFE5CC;
    margin: 40%;
    width:300px;
    color:black;
    font-weight: bold;
    font-style:normal;
    text-align:center;
    font-size: 15px;
    margin-bottom:10px;
    padding:10px;
    margin-top:10px;
    height: auto
}
.credd button {
    padding: 10px;
    width: 30%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin:  5px 0px;  */
}

.credd h1{
    color: #489ff5;
}

.credd button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge button */
}